.*
!.coveragerc
!.env
!.pylintrc
.git
nginx.log
postgres.log

*.db
.DS_Store
.idea
venv
env
__pycache__
.venv
.cache

secrets/*
!secrets/*.example
.vscode
vue/dist
vue/node_modules
vue/
django/media
*.sqlite3